@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body, html {
	width : 100%;
	height : 100%;
	font-family: 'Montserrat', sans-serif;
	color : #222;
	background: url(resources\img\wallpaper.png) 50%/cover fixed;
}

section {
	padding-top: 25px;
	padding-bottom: 25px
}

.new-bookmark {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}

.content {
	padding-top: 5px;
	background-color: ghostwhite;
	font-size: 18px;
}

.navbar-expand-lg img {width: 70px; margin-bottom: 23px}
