@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body, html {
	width : 100%;
	height : 100%;
	font-family: 'Montserrat', sans-serif;
	color : #222;
	background: url(resources\img\wallpaper.png) 50%/cover fixed;
}

section {
	padding-top: 25px;
	padding-bottom: 25px
}

.navbar-expand-lg img {width: 70px; margin-bottom: 23px}

.carousel {
	margin-left: 90px;
}

.carousel-control-prev, .carousel-control-next {width: 30px; }
.carousel-control-next {margin-right: 70px}
.carousel-control-prev {margin-left: -30px}
